*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
  
    background-image: url(gorseller/contact-backgorund.jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size:cover;
    z-index: -1;

}
.breadcrumb{
    font-family: 'Titillium Web', sans-serif;
    padding: 10px 18px;
    list-style: none;
	background-color: #444;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.075), rgba(255,255,255,.045));
	background-image: linear-gradient(to top, rgba(0,0,0,.075), rgba(255,255,255,.045));


}
    
.breadcrumb-item{
    text-align: center;
    display: inline;
    font-size: 18px;
}
.breadcrumb li+li:before{
    padding: 4px;
    color:white;
    content: "/";
  }
.nav-link{
    font-family: 'Barlow', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-family: 'Luxurious Script', cursive;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
}
li a:hover {
    background-color: #111;
}
h1{
padding-top: 3%;
  color: white;
  text-align: center;
  font-size: 300%;
  font-family: 'Big Shoulders Stencil Text', cursive;
}
h3{   
    text-align: center;
    margin-top: 4%;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
}
#harita{
    float: left;
    border: gray;
    border-radius: 8px;
    margin-left: 50px;
    width:27%;
    height:450px;
}

.input{
    width: 500px;
}
#onerialani{
    border-radius: 4px;
    width: 100%;
}
.form-label{
    color: white;

    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 20px;

}
.inputlar{
    float: right;
    margin-right: 50px;
    font-family: 'Titillium Web', sans-serif;

}
#ortayazi{
    z-index: -2;
    width: 100%;
    color:white;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-weight: 900;
    margin:auto;
    position:absolute;
    margin-top: 10vh;
    font-size: 1.1vw;
}
#buton{
    text-align: center;
}
