*{
    box-sizing: border-box;  
}
body{
    margin: 0;
    padding: 0;
  
    background-image: url("gorseller/bf-asil.jpg"); 
    background-position: absolute;
    background-repeat: no-repeat;
    background-size:cover;
    z-index: -1;

    
}

.yorum{
    color: aliceblue;
    background-color: #111;
    opacity: 0.9;

    height: 150px;
    width: 300px;
    padding:10px;
    margin: 20px;
    text-align: center;
    font-size:x-large;

    font-family: 'Barlow', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-family: 'Luxurious Script', cursive;
    font-family: 'Titillium Web', sans-serif;
}
.yorum p{
    z-index: 1;
    color: turquoise;
    font-size:large;

}


li a:hover {
    background-color: #111;
  }
#ortalogo{
    z-index: 0;
    width:468px;
    height: 90px;
    display: table;
    position: relative;
    overflow: hidden;
    text-align:center;
    margin: 50px auto;

}

.nav-link{
    font-family: 'Barlow', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-family: 'Luxurious Script', cursive;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
}
#soldivler{
    float: left;
}
  

