*{
    box-sizing: border-box;  
}
body{
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("gorseller/bf-asil.gif"); 
    background-position: absolute;
    background-repeat: no-repeat;
    background-size:cover;
    z-index: -1;

    
}
.breadcrumb{
    font-family: 'Titillium Web', sans-serif;
    padding: 10px 18px;
    list-style: none;
	background-color: #444;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.075), rgba(255,255,255,.045));
	background-image: linear-gradient(to top, rgba(0,0,0,.075), rgba(255,255,255,.045));


}
    
.breadcrumb-item{
    text-align: center;
    display: inline;
    font-size: 18px;
}
.breadcrumb li+li:before{
    padding: 4px;
    color:white;
    content: "/";
  }
#ealogo{
    z-index: 0;
    width:2%;
    height: 2%;
    display: table;
    position: relative;
    overflow: hidden;
    text-align:center;
    margin: 1px auto;
    margin-top: -40px;
}

.yorum{
    color: aliceblue;
    background-color: #111;
    opacity: 0.9;

    height: 150px;
    width: 290px;
    padding:10px;
    margin: 20px;
    text-align: center;
    font-size:x-large;


    font-family: 'Titillium Web', sans-serif;
}
.yorum p{
    z-index: 1;
    color: turquoise;
    font-size:large;

}


li a:hover {
    background-color: #111;
  }
#ortalogo{
    z-index: 0;
    width:468px ;
    height: 90px ;
    display: table;
    position: relative;
    overflow: hidden;
    text-align:center;
    margin: 50px auto;

}

.nav-link{

    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
}
#soldivler{
    
    position:absolute;
    left:0;
    top: 20vh;
    float: left;
}
#sagdivler{
    position: absolute;
    right:0;
    top: 20vh;
    
}
.aciklamayazisi{
    color: white;

    font-size: 150%;
    text-align: center;
    margin-top: 525px;
    font-family: 'Barlow', sans-serif;
    font-weight: 900;

}

